@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Pacifico&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(153, 50, 204, 0.589);
}

header{
    background-image: linear-gradient(to bottom, rgb(216, 0, 245),black );
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    padding: 40px;
}

header h1{font-family: 'Dancing Script', cursive;
    padding-top: 10px;
    color: white;
    font-size: 37px;
}


header p {
    padding-top: 10px;
    color: white;

}

nav{
    background-image: linear-gradient(to bottom, rgb(216, 0, 245),black );
    padding: 10px;
}

nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;

}

nav a:hover{
    background-color: darkorchid;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{min-width: 236px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px;
    line-height: 1.3em;
}

main h1{
    padding-bottom: 15px;
    text-align: center;
}
main h2{
    font-family: 'Bricolage Grotesque', sans-serif;
    padding-top: 10px;
    line-height: 1.3em;
}

footer{
   background-image: linear-gradient(to bottom, rgb(216, 0, 245),black );
   color: white;
   text-align: center;
   padding: 5px;
}

footer a{
    color: bisque;
    text-decoration: none;
    
}

footer a:hover{
    color: black;
    font-style: italic;
}